.SwiperWrapper{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    will-change: transition;
}

.SwiperSlider{
    box-sizing: border-box;
    background: #eee;
    color: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink:0;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale3d(0.9,0.9,1);
    will-change: transform;
    border: 5px solid #aa9c9c;
    box-shadow: 5px 5px 6px rgba(0, 0, 0,0.4);
    background-repeat: no-repeat;
    background-position:0 0;
}
.SwiperSlider.SwiperActive{
    transform: scale3d(1,1,1);
}