.SwiperWrapper{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: border-box;
    will-change: transition;
    touch-action: none;
}

.SwiperSlider{
    box-sizing: border-box;
    /*background: #eee;*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flatCoverFlow {
    padding:10px;
}
.flatCoverFlow .SwiperSlider{
    transform: scale3d(0.9,0.9,1);
    will-change: transform;
    box-shadow: 0px 0px 10px #333;
}
.SwiperSlider.SwiperActive{
    transform: scale3d(1,1,1);
}
.SwiperSliderNav {
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    padding: 10px 0;
    // background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    .SwiperItemNav{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        overflow: hidden;
        background: gray;
        flex-shrink: 0;
        margin:0 10px;
        &.SwiperNavActive{
            background: red;
        }
    }
}